<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Snap Engage</title>
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="public/css/room.css">
    <script src="public/js/jquery-2.1.4.min.js"></script>
    <script src="public/js/angular.min.js"></script>
    <script src="public/js/angular-resource.min.js"></script>
</head>
<body ng-app="app" ng-controller="RoomCtrl">
    <nav>
        <span>Logo</span>
        <span>Link to the room that you can send to others</span>
        <a href="#">Lock room</a>
        <a href="#">Leave</a>
    </nav>
    <h1>{{displayName}}</h1>
    <p>Hahah</p>

    <div>Video placeholder1</div>
    <div>Video placeholder2</div>

</body>

<script src="public/js/room-ctrl.js"></script>

</html>
